@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

html{
    scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    min-width: 8vh;
    height: 10vh;
}

#logo-box, nav{
    width: 50%;
}

main{
    margin: 100px 32px 0px 32px;
    display: grid;
    grid-template-rows: 5vh 70vh;
    row-gap: 5px;
    place-items: center;
}

.box-1{
    width: 100%;
    overflow: auto;
}

.box-1::-webkit-scrollbar{
    display: none;
}

footer{
    margin-top: 5px;
    background-color: rgb(238, 112, 133);
    color: rgb(24, 23, 23);
    min-height: 8vh;
    padding: 3px 0px 5px 5px;
    text-align: center;
}

#mini-nav{
    display: none;
    font-size: 22px;
    padding: 23px;
}

#search-bar{
    width: 70%;
    height: 40px;
    border-radius: 5px;
}

#filter-button{
    font-size: 18px;
    padding: 13px 16px 17px 16px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo{
    width: 18%;
    margin-top: 8px;
    margin-left: 12px;
}

i{
    color: whitesmoke;
}

.full-nav{
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0 0px 0 118px;
    padding: 23px;
}


.full-nav > li{
    border-right: 1px solid #bbb;
    display: inline; 
    list-style-type: none;
}

.full-nav > li a {
    padding: 23px 25px;
    text-decoration: none;
    transition: 0.3s ease-in;
}

li > a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.5s;
    padding: 14px 18px;
}

li a:hover {
    background-color: #312f2f;
    color: white;
    /*font-weight: bold;*/
    text-shadow: 0px 2px 10px whitesmoke;
    padding: 23px 25px;
}

#hide-toggle{
    display: none;
}



.search-filter{
    margin-left: 20%;
    margin-bottom: 20px;
    width: 65%;
}



#add-item-button{
    font-size: 16px;
    padding: 18px;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: rgb(238, 112, 133);
    border: 1px solid rgb(245, 209, 215);   
    transition: 0.4s ease-in-out;
    position: fixed;
    top: 80%;
    left: 90%;
    display: inline-block;

}

#add-item-button:hover .tooltiptext{
    background-color: whitesmoke;
    border: 1px solid rgb(238, 112, 133);
    color: black;
    padding: 18px;
    box-shadow: 0 0px 4px darkslategray;
    visibility: visible;
}



#add-item-button:active{
    box-shadow: 0 0px 3px darkslategray;
    padding: 18px;
    color: white;
    background-color: rgb(238, 112, 133);
    border: 1px solid rgb(245, 209, 215);
}

.tooltiptext {
    font-size: 0.8rem;
    visibility: hidden;
    width: 70px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0 !important;
    transition: 0.1s ease-in;
    /* Position the tooltip */
    position: absolute;
    top: 5px;
    left: 55px;
    z-index: 1;
  }

  #add-item-button .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(238, 112, 133) transparent transparent;
  }

/*Mobile*/
@media screen and (max-width : 480px){
    body{
        font-size: 16px;
        overflow: auto;
    }

    body::-webkit-scrollbar{
        display: none;
    }

    header{
        position: fixed;
        top: 0;
        height: 10vh;
    }

    main{
        margin: 25% 16px 0px 16px ;
        min-height: 80vh;
        grid-template-rows: auto 1fr; /* Adjust the row layout for mobile */
        row-gap: 0px;
    }

    .logo{
        width: 70%;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .full-nav{
        position: absolute;
        z-index: 20;
        top: 7vh;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        width: 50%;
        right: -300px;
        transition: right 0.5s ease-in-out;
    }

    .full-nav > li{
        display: block; 
        text-align: center;
    }

    .full-nav > li a {
        display: block;
        padding: 16px 30px;
        transition: 0.3s ease-in;
    }

    #mini-nav{
        display: block;
        z-index: 10;
    }

    #hide-toggle:checked ~ * .full-nav {
        right: 0px;
    }

    .box-1{
        overflow-x:auto;
        justify-content: space-around;
        align-items: center;
        height: 65vh;
    }

    #add-item-button{
        top: 85%;
        left: 80%;
        padding: 18px;
    }

    #wrapper{
        top: 84%;
        left: 78%;
    }

    #search-bar{
        width: 83%;
        height: 48px;
        border-radius: 5px;
    }

    #search-bar:focus{
        outline: 3px dashed black;
    }

    #filter-button{
        padding: 17px 10px;
        background-color: blue;
        color: white;
        border: 2px solid blue;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    #filter-button:hover {
        background-color: white;
        color: blue;
    }

    .search-filter{
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
    }

}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 768px){
    body::-webkit-scrollbar{
        display: none;
    }
    
    header{
        position: fixed;
        top: 0;
        height: 10vh;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    #mini-nav{
        width: 15%;
        font-size: 32px;
    }

    #logo-box{
        width: 60%;
    }

    .logo{
        width: 50%;
    }

    .full-nav{
        position: absolute;
        top: 7vh;
        background-color: black;
        flex-direction: column;
        width: 40%;
        right: -600px;
        transition: right 0.5s ease-in-out;
    }

    .full-nav > li{
        display: block; 
        text-align: center;
    }

    .full-nav > li a {
        display: block;
        padding: 16px 30px;
        transition: 0.3s ease-in;
    }

    #mini-nav{
        display: block;
    }

    #hide-toggle:checked ~ * .full-nav {
        right: 0px;
    }

    main{
        margin: 15% 16px 0px 16px ;
        min-height: 80vh;
        grid-template-rows: auto 1fr; /* Adjust the row layout for mobile */
        row-gap: 0px;
    }

    .box-1{
        margin-left: 0px;
    }

    table{
        height: 70vh !important;
    }

    #add-item-button{
        top: 85%;
        left: 88%;
    }

    #wrapper{
        top: 84.4%;
        left: 86.9%;
    }

    #filter-button{
        padding: 12px 16px 17px 16px;
    }

    #search-bar{
        width: 68%;
    }

}

/*Laptop*/
@media screen and (min-width: 769px) and (max-width: 1023px){
    header{
        position: fixed;
        top: 0;
        height: 10vh;
    }

    .logo{
        width: 35%
    }

    nav{
        width: 618px;
    }
    ul {
        margin: 0 0px 0 27px;
        padding: 25px 0px 25px 0px;
    }
    
    i{
        display: none;
        color: black;
    }
}

/*Desktop*/
@media screen and (min-width: 1024px) and (max-width: 1300px){
    header{
        position: fixed;
        top: 0;
        height: 10vh;
    }

    .logo{
        width: 35%;
    }

    nav{
        width: 50%;
    }

    ul {
        margin: 0 0px 0 27px;
        padding: 25px;
    }

    i{
        display: none;
        color: black;
    }
}

